<!DOCTYPE html>
<html>

<head>
	<base target="_top">

	<?!= include('index-css'); ?>
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.10.1/dist/bootstrap-vue.css" />

	<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
    -->
</head>

<body>
	<div id="app-new" v-cloak class="shopping-cart-app">
		<!--
  <b-button size="sm" @click="toggle">
    {{ show ? 'Hide' : 'Show' }} Alert
  </b-button>
  <b-alert v-model="show" class="mt-3" dismissible @dismissed="dismissed">
    Hello {{ name }}!
  </b-alert>
-->
		<b-card no-body>
			<b-card-title class="mb-2 mt-2 ml-2 mr-2" v-show="!loadinginProgress">
				Shopping Cart
				<b-badge size="sm" class="float-right" :variant="chosen <= 0 ? 'danger' : 'success'">
					{{ chosen | pluralize }} </b-badge>

			</b-card-title>
			<b-card-title class="mb-2 mt-2 ml-2 mr-2" v-show="loadinginProgress">
				<b-row align-h="center" v-show="loadinginProgress">
					<div class="text-center">
						<b-spinner variant="primary" label="Text Centered"></b-spinner>
						<h4 v-show="loadingResult">{{loadingResult}}</h4>
						<h5 v-show="loadingResult">{{loadingResultMessage}}</h5>
						<h5 v-show="!loadingResult">Please Wait.<br /> Loading data From Server...</h5>
					</div>
				</b-row>
			</b-card-title>

			<b-row align-h="center" v-show="!loadinginProgress">
				<b-col class="dark-bg-col" sm>
					<b-container>
						<b-row>
							<b-col align-self="start">
								<b-button-toolbar justify>
									<b-form-radio-group id="btn-radios-2" v-model="visibility" :options="filterOptions"
										buttons button-variant="outline-success" name="radio-btn-outline">
									</b-form-radio-group>
									<b-button-group class="mx-1">
										<b-button variant="outline-success" @click="saveCart"
											v-show="(chosen > 0) && selectedFlatNumber">Save</b-button>
									</b-button-group>
								</b-button-toolbar>
							</b-col>

						</b-row>
					</b-container>

					<b-form-group>
						<b-input-group prepend="Flat Number" append="*" class="mt-2">
							<b-form-select id="input-3" v-model="selectedFlatNumber" :options="flatNumberList" required>
							</b-form-select>
						</b-input-group>

					</b-form-group>
					<b-input-group prepend="Search" class="mt-1">
						<b-form-input autofocus autocomplete="off" placeholder="Search Items..." v-model="queryString">
						</b-form-input>
					</b-input-group>

					<b-list-group style="position:relative; height:300px; overflow-y:scroll;">
						<b-list-group-item v-for="catalogueItem in filteredCatalogueItems" :key="catalogueItem.id"
							:class="{ chosen: catalogueItem.selected }" button
							v-on:click="catalogueItem.selected = !catalogueItem.selected"
							v-bind:variant="catalogueItem.selected?'success':''" class="d-flex align-items-center">
							<b-avatar variant="success" icon="bag-fill" class="mr-3"></b-avatar>

							<span class="mr-auto">{{ catalogueItem.title }}</span>
							<b-avatar v-show="catalogueItem.selected" variant="dark" icon="check-box" size="sm">
							</b-avatar>
						</b-list-group-item>
					</b-list-group>
				</b-col>
			</b-row>
		</b-card>

	</div>
	<footer class="info">
		<p>Created by Manoj Pillai <a href="mailto:manoj.pillai@gmail.com">(manoj.pillai@gmail.com)</a></p>
		<p>Part of Epitome Crowne Support for Covid-19 Lockdown</p>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@2.10.1/dist/bootstrap-vue.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@2.10.1/dist/bootstrap-vue-icons.js"></script>
	<?!= include('cart-app-js'); ?>
</body>

</html>